* {
    box-sizing: border-box;
    list-style-type: none;
    font-family: monospace;
    font-weight: 100;
}

html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
}

body {
    background-color: lightblue;
}

strong {
    font-weight: 900;
}

header {
    background-color: gainsboro;
    margin: 0;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 6.5rem;
    margin: 0;
}

main {
    background-color: silver;
}

section {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

button {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0.5rem;
}

h2 {
    margin: 0;
    font-size: 3.8rem;
    line-height: 3.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 1.5rem;
    padding: 0;
    padding-left: 0.5rem;
    font-size: 2rem;
}

footer {
    background-color: gainsboro;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    font-size: 2rem;
}

/* 320, 768, 1200 */

@media screen and (min-width: 720px) {
    
    body {
      background-color: darkblue;
    }

    section {
        padding: 8rem;
    }

    button {
        padding: 4rem;
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    body {
      background-color: darkgoldenrod;
    }

    header {
        justify-content: flex-start;
        padding-left: 8rem;
    }

    section {
        padding-top: 5rem;
        width: 80rem;
        padding-bottom: 4rem;
        padding-left: 8rem;
    }

    button {
        padding: 4rem;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    h2 {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    footer {
        justify-content: flex-start;
    }

    footer a {
        margin-left: 8rem;
    }


}