:root {
  --primary: #ffd75f;
  --secondary: #6b5fb5;
  --tertiary: #39cccc;
  --quaternary: rgb(130, 224, 255);
  --quinary: lemonchiffon;
  --senary: #e4e1f1;
  background-color: var(--primary);
}

.App {
  max-height: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

#root {
  max-height: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  list-style-type: none;
  font-family: monospace;
  font-weight: 100;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  
}

body {
  background: url(../../noise2.png);
  background-clip: content-box;
  max-height: 100%;
  /* height: 100vh; */
  padding: 0;
  margin: 0;
}