* {
  box-sizing: border-box;
  list-style-type: none;
  font-family: monospace;
  font-weight: 100;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

