/* VARIABLES DEFINED IN APP.CSS */

   
header {
  background-color: var(--primary);
  margin-left: -2rem;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  background: url(../../noise2.png);
  background-repeat: repeat;
}

h1 {
  padding-top: 2rem;
  font-size: 7rem;
  /* I don't like this, but this font has a lot of extra space around it */
  line-height: 6rem;
  font-weight: 900;
  margin: 0;
  color: var(--secondary);
  text-shadow: 1.5px 1.5px 0 var(--primary), 3.5px 3.5px 0 var(--tertiary);
  letter-spacing: -10px;
  font-family: "Bungee hairline";
}

main {
  background-color: var(--primary);
  opacity: 0.99;
  background: url(../../noise2.png);
  background-repeat: repeat;
  margin-top: -2%;
  min-height: 100vh;
}

section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.room-link {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 2.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.input-prompt {
  margin-bottom: 1rem;
}

.home-input-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.destination-field {
  height: 1rem;
  padding: 2.5rem;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.go-button {
  background: var(--quaternary); 
  border: none;
  width: 100%;
  height: 7.7rem;
  padding: 0;
  margin: 0;
}

.explainer {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 0;
  background-color: rgba(255, 250, 205, 0.75);
  margin: 0;
  border: 2px solid var(--secondary)
}

h2 {
  margin: 0;
  font-size: 3.8rem;
  line-height: 3.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 900;
  color: var(--secondary);
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 900;
}

li {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  /* padding-left: 0.5rem; */
  font-size: 1.75rem;
}

footer {
  background-color: var(--secondary);
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.75rem;
}

.fa-linkedin-in, .fa-github {
  font-size: 3.2rem;  
}

footer a {
  color: var(--primary);
}

footer a:visited {
  color: white;
}
  
/* TABLET BREAKPOINT */

@media screen and (min-width: 720px) {

  main {
    margin-top: -5%;
  }

  h1 {
    text-shadow: 3px 3px 0 var(--primary), 8px 8px 0 var(--tertiary);
    letter-spacing: -40px;
    line-height: 15rem;
    margin-top: 3rem;
    font-size: 25rem;
  }
  
  body {
    background-color: var(--primary);
  }

  section {
      padding: 8rem;
  }

  .room-link {
    font-size: 5rem;
    /* font-weight: 900; */
    line-height: 4.5rem;
    margin-bottom: 1rem;
  }

  .destination-field {
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
  }

  .explainer {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(255, 250, 205, 0.75);
    margin: 0;
    border: 2px solid var(--secondary)
  }

  h2 {
    font-size: 5.5rem;
    margin-bottom: 2rem;
  }

  .explainer li {
    font-size: 2.5rem;
  }

}

/* DESKTOP BREAKPOINT */

@media screen and (min-width: 1024px) {

  main {
    margin-top: -3%;
  }

  body {
    background-color: var(--primary);
  }

  header {
      justify-content: flex-start;
      padding-left: 4rem;
      padding-bottom: 2rem;
      padding-top: 2rem;
      margin-left: 0rem;
  }

  section {
      padding-top: 5rem;
      width: 80rem;
      padding-bottom: 4rem;
      padding-left: 8rem;
  }

  .room-link {
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 3rem;
  }

  h1 {
    font-size: 21rem;
    font-weight: 900;
    padding-left: 0;    
  }

  h2 {
      margin-top: 3rem;
      margin-bottom: 2rem;
      line-height: 4rem;
  }

  .home-input-flex-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .destination-field {
    height: 1rem;
    padding: 2.5rem;
    font-size: 2rem;
    width: 75%;
    margin-bottom: 0;
  }

  .go-button {
    background: var(--quaternary); 
    width: 20%;
    height: 5.2rem;
  }

  .explainer {
    width: 65rem;
  }

  footer {
      justify-content: flex-start;
  }

  footer a {
      margin-left: 8rem;
  }


}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
  select, textarea, input[type="text"], input[type="password"],
  input[type="datetime"], input[type="datetime-local"],
  input[type="date"], input[type="month"], input[type="time"],
  input[type="week"], input[type="number"], input[type="email"],
  input[type="url"]{ font-size: 16px; }
}