body {
    background-color: lightblue;
}
   
header {
  background-color: seashell;
  margin: 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid purple;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  font-size: 6.5rem;
  margin: 0;
}

main {
  background-color: seashell;
  opacity: 0.99;
}

section {
  display: flex;
  flex-direction: column;
  padding: 4rem;
}

.room-link {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

.home-input-flex-wrapper {
  display: flex;
  flex-direction: column;
}

.destination-field {
  height: 1rem;
  padding: 2.5rem;
  font-size: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.go-button {
  background: rgb(130, 224, 255); 
  border: none;
  width: 100%;
  height: 7.7rem;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 3.8rem;
  line-height: 3.2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: 900;
}

ul {
  margin: 0;
  padding: 0;
}

strong {
  font-weight: 900;
}

li {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  /* padding-left: 0.5rem; */
  font-size: 2rem;
}

footer {
  background-color: gainsboro;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 2rem;
}

  
/* TABLET BREAKPOINT */

@media screen and (min-width: 720px) {
  
  body {
    background-color: darkblue;
  }

  section {
      padding: 8rem;
  }

  .room-button {
      padding: 4rem;
      font-size: 3rem;
      margin-bottom: 1rem;
  }
}

/* DESKTOP BREAKPOINT */

@media screen and (min-width: 1024px) {

  body {
    background-color: seashell;
  }

  header {
      justify-content: flex-start;
      padding-left: 8rem;
      padding-bottom: 2rem;
      padding-top: 2rem;
  }

  section {
      padding-top: 5rem;
      width: 80rem;
      padding-bottom: 4rem;
      padding-left: 8rem;
  }

  .room-link {
    font-size: 3.4rem;
    font-weight: 900;
    line-height: 3rem;
  }

  h1 {
    font-size: 12rem;
    font-weight: 900;
    color: cadetblue;
    
  }

  h2 {
      margin-top: 3rem;
      margin-bottom: 2rem;
  }

  .home-input-flex-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .destination-field {
    height: 1rem;
    padding: 2.5rem;
    font-size: 2rem;
    width: 75%;
    margin-bottom: 0;
  }

  .go-button {
    background: rgb(130, 224, 255); 
    width: 20%;
    height: 5.2rem;
  }

  footer {
      justify-content: flex-start;
  }

  footer a {
      margin-left: 8rem;
  }


}