.card-container {
    height: 26rem;
    background-color: pink;
    margin-bottom: 5rem;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    padding: 3rem;
    width: 100%;
    outline: 1px solid black;
    z-index: 5;
}
  
.front {
    background-color: lightblue;
    z-index: 0;
    bottom: 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 3rem;
}
  
.back {
    background-color: lavender;
    z-index: -6;
    top: -10px;
    left: -10px;
    bottom: 10px;
    right: 10px;
    font-size: 2rem;
    transition: 0.5s;
}
  
.swap {
    transition: all 0.5s;
    z-index: 6;
    top: 10px;
    left: 10px;
    right: -10px;
    bottom: -10px;
}

/* TABLET BREAKPOINT */
  
@media screen and (min-width: 720px) {

    
}

/* DESKTOP BREAKPOINT */
  
@media screen and (min-width: 1024px) {

    .card-container {
        height: 17rem;
        margin-bottom: 5rem;
    }
    
}