form {
    /* max-height: 100rem;
    min-height: 0rem; */
    background-color: snow;
    box-shadow: 0px 0px 40px 0px inset rgba(0, 0, 0, 0.1);
    padding: 4rem;
    padding-bottom: 0rem;
    position: fixed; 
    bottom: 0; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-top: 1px solid darkturquoise;
    /* transition: all 4s ease; */
}
  
form input { 
    border: 1px solid darkturquoise;
    padding: 10px;
    flex-grow: 1;
    margin-right: 2rem;
}
  
form button { 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px;
}
  
.messages { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
    padding: 0; 
    /* background-color: silver; */
}
  
.messages li { 
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 0;
    border-bottom: 1px solid gainsboro;
}


  
/* .messages li:nth-child(odd) { 
    background: #ace; 
}

.messages li:nth-child(even) { 
    background: #add; 
} */

.hidden {
    display: none;
}

.unhidden {
    display: flex;
}

.room-input-flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gif-options {
    max-height: 52rem;
    min-height: 0rem;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    transition: all 1s ease;
    flex-grow: 1;
}

.gif-options img {
    margin-right: 2.5rem;
    border-radius: 1.5rem;
    padding: 0;
    margin-left: 0;
    width: 90%;
}

.tenor-attr {
    margin-top: 1rem;
    height: 1.5rem;
    width: 11rem;
}

/* TABLET BREAKPOINT */
  
@media screen and (min-width: 720px) {

    
}

/* DESKTOP BREAKPOINT */
  
@media screen and (min-width: 1024px) {

    form {
        position: sticky;
        top: 0;
        width: 50rem;
        bottom: auto;
        height: 100%;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        transition: all 0s ease 0s
    }

    form input {
        /* flex-grow: 0; */
    }

    .room-input-flex-wrapper {
        flex-grow: 0;
    }

    .room {
        display: flex;
        overflow: hidden;
        flex-direction: row-reverse;
        justify-content: flex-end;
        position: relative;
        height: 100vh;
        /* margin-top: -100px;
        padding-top: 100px; */
        width: 100%;
    }
    

    .gif-options {
        max-height: 100%;
        overflow: auto;
        flex-grow: 0;
    }

    .gif-options li {
        width: 100%;
    }

    .messages {
        width: 50%;
        overflow: auto;
        flex-direction: column;
        /* margin-right: auto; */
        border-right: 1px solid rebeccapurple;
    }

    .messages li {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .messages img { 
        width: 90%;
    }
    
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}