form {
    /* max-height: 100rem;
    min-height: 0rem; */
    background-color: snow;
    box-shadow: 0px 0px 40px 0px inset rgba(0, 0, 0, 0.1);
    padding: 4rem;
    padding-bottom: 0rem;
    position: fixed; 
    bottom: 0; 
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid darkturquoise;
    /* transition: all 4s ease; */
}
  
form input { 
    border: 1px solid darkturquoise;
    padding: 10px;
    flex-grow: 1;
    margin-right: 2rem;
}
  
form button { 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px;
}
  
.messages { 
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; 
    padding: 0; 
    background-color: white;
}
  
.messages li { 
    padding: 3rem;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: 0;
    border-bottom: 1px solid gainsboro;
}

.chat-message { 
    /* border-radius: 1.5rem;  */
}

/* .chat-message::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid gray;
    left: 30px;
    top: -30px;
    z-index: -1;
} */


  
/* .messages li:nth-child(odd) { 
    background: #ace; 
}

.messages li:nth-child(even) { 
    background: #add; 
} */

.hidden {
    display: none;
}

.unhidden {
    display: flex;
}

.room-input-flex-wrapper {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.gif-options {
    max-height: 52rem;
    min-height: 0rem;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    transition: all 1s ease;
}

.gif-options img {
    margin-right: 2.5rem;
    border-radius: 1.5rem;
    padding: 0;
    margin-left: 0;
}

.tenor-attr {
    margin-top: 1rem;
    height: 1.5rem;
    width: 11rem;
}

/* TABLET BREAKPOINT */
  
@media screen and (min-width: 720px) {

    
}

/* DESKTOP BREAKPOINT */
  
@media screen and (min-width: 1024px) {

    form {
        width: 50%;
        left: 50%;
        /* transform: translateX(-50%); */
    }

    .messages {
        width: 50%;
        /* margin-left: auto; */
        margin-right: auto;
        border-right: 1px solid rebeccapurple;
    }

    .messages li {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .messages img { 
        width: 90%;
    }

    /* .gif-options {
        max-height: 100%;
    } */
    
}